.contributor-link {
    color: $gray-base;

    &:hover {
        color: $gray-dark;
    }
}

.contributor-list {
    .contributor-role {
        text-transform: uppercase;
        color         : $greyish;
    }

    .contributor-credit {
        text-transform: uppercase;
    }

    .avatar {
        .img-responsive {
            display: inline;
        }
    }

    .list-item {
        padding: 0 !important;
    }
}

.contributor {
    .avatar-wrapper {
        margin-right: 10px;
    }
}
