body {
    -webkit-font-smoothing: antialiased;
}

blockquote {
    letter-spacing: 0.75px;
    padding       : 10px 0;
}

.pull-right {
    .date-published {
        color: $greyish;
    }
}

.body-text {
    box-sizing: border-box;
    padding   : 60px;
}

.text-color-black {
    color: $gray-base;
}

.text-color-white {
    color: #fff;
}

.text-color-gold {
    color: $golden-retriever;
}

.border-color-gold {
    border-color: $golden-retriever;
}

.article-intro-border {
    border-width: 3px;
}

.avatar-wrapper .avatar {
    display: inline;
}

.particle-text {
    letter-spacing: 0.22px;
    font-size     : 16px;
    line-height   : 35px;
}

.contributor-list {
    .contributor-role {
        text-transform: uppercase;
        color         : $greyish;
    }

    .contributor-credit {
        text-transform: uppercase;
    }

    .avatar {
        .img-responsive {
            display: inline;
        }
    }

    .list-item {
        padding: 0 !important;
    }
}

.contributor {
    .avatar-wrapper {
        margin-right: 10px;
    }
}

.particle-pullquote {
    blockquote,
    q {
        font-size     : 42px;
        font-family   : $font-family-serif-bold;
        letter-spacing: 0.75px;
        line-height   : 53px;

        quotes        : "\201C" "\201D" "\2018" "\2019";

        &::before {
            content: open-quote;
        }
        @media screen and (min-width: $screen-sm) {
            &.hangingindent::before {
                margin-left: -$grid-gutter-width;
            }
        }

        &::after {
            content: close-quote;
        }

    }
}
