.brand-logo {
    .navbar-brand-img {
        width : 200px;
        float : none;
        margin: 0 auto;
    }
}

.navbar-default {
    background-color: transparent;
}

.navbar-sticky {
    position: absolute !important;
}
