.navbar-container {
    width: 100%;

    .navbar-column {
        width: 100%;

        .brand-logo {
            .navbar-brand-img {
                float  : none;
                margin : 0 auto;
                display: block;
                width  : 279px;
            }
        }
    }
}

.navbar-default {
    background-color: transparent;
}

.navbar-sticky {
    position: absolute !important;
    width   : 100%;
}
