//

$greyish: #9B9B9B;

.brand-logo {
    .navbar-brand-img {
        width : 200px;
        float : none;
        margin: 0 auto;
    }
}

.panel-1 {
    margin-bottom: 20px;
    max-height   : 110vh;
    width        : 100%;

    .navbar-brand-img {
        float : none;
        margin: 0 auto;
    }

    .col-sm-5 {
        margin        : 320px 0 0 90px;
        line-height   : 35px;
        letter-spacing: 0.27px;
        font-weight   : lighter;
        max-width     : 500px;
        font-size     : 20px;

        .article-category {
            border   : 0.5px solid #000000;
            display  : inline;
            padding  : 10px;
            font-size: 14px;

            &.text-color-white {
                border-color: #ffffff;
            }

            &.text-color-gold {
                border-color: $golden-retriever;
            }
        }

        .particle-intro {
            margin-left: 25px;
        }
    }
}

particle-text {
    letter-spacing: 0.22px;
    font-size     : 16px;
    line-height   : 35px;
}

blockquote {
    letter-spacing: 0.75px;
    padding       : 10px 0;
}

.contributor-list {
    span {
        margin-left: 10px;
    }

    .contributor-role {
        text-transform: uppercase;
        color         : $greyish;
    }

    .contributor-credit {
        text-transform: uppercase;
    }

    .avatar {
        .img-responsive {
            display: inline;
        }
    }
}

.pull-right {
    .date-published {
        color: $greyish;
    }
}

.body-text {
    box-sizing: border-box;
    padding   : 60px;
}

.text-color-black {
    color: #000;
}

.text-color-white {
    color: #fff;
}

.text-color-gold {
    color: $golden-retriever;
}
