.article-meta {
    line-height   : 35px;
    letter-spacing: 0.27px;
    font-weight   : lighter;
    font-size     : 20px;
    @media screen and (max-width: $screen-xs - 1) {
        font-size  : 15px;
        line-height: 1.5em;
    }
}

.article-category {
    $color   : #000;
    border   : 0.5px solid $color;
    color    : $color;
    display  : inline;
    padding  : 10px;
    font-size: 14px;

    &:hover {
        background-color: $golden-retriever;
        color           : #fff;
        text-decoration : none;
    }
    @media screen and (max-width: $screen-xs - 1) {
        padding: 8px;
    }

    &.text-color-white {
        $color      : #ffffff;
        border-color: $color;
        color       : $color;

        &:hover {
            background-color: $color;
            color           : $golden-retriever;
        }
    }

    &.text-color-gold {
        $color      : $golden-retriever;
        border-color: $color;
        color       : $color;

        &:hover {
            background-color: $color;
            color           : #fff;
        }
    }
}

.particle-intro {
    margin-left: 25px;
}

.layout-short {
    margin-bottom: 20px;
    max-height   : 110vh;
    width        : 100%;

    .navbar-brand-img {
        float : none;
        margin: 0 auto;
    }

    .article-meta {
        margin   : 320px 0 0 90px;
        max-width: 500px;
        @media screen and (max-width: $screen-xs - 1) {
            margin-left: 0;
            margin-top : 240px;
        }
        @media screen and (min-width: $screen-xs) and (max-width: $screen-sm-max) {
            // @FIXME - intended when title is 2 rows high
            margin-top: 177px;
        }
    }

}
