doctype html
html.no-js(lang='en')
block vars
head
  include ../includes/head.jade
  include ../includes/styles.jade

body(class=body_classes)
  block content
  #app
    | loading…

  include ../includes/footer.jade
  include ../includes/scripts.jade
