block vars
  - var body_classes = ['page', 'front']
  - var is_front = true
  - var page = 'home'
  - var title = 'Subscribe to Life'

extends ../layouts/default

block content
  #app
    div
      include ./_menu.jade
    | loading…
